@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.login-page {
  background-image: url("../img/fullscreen_bg_image.jpg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }

.login-modal {
  background-color: #fff;
  width: 370px;
  padding: 30px; }

.login-heading {
  font-size: 1.25rem; }

.login-terms {
  font-size: .75rem;
  color: #a8b8c4; }

.login-btn {
  background-color: #1E64E7;
  width: 100%;
  border-radius: 2px; }

.profile-page {
  background-color: #F3F8F9;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto; }

.content-box {
  background-color: #FFF;
  padding: 20px 15px;
  margin-bottom: 20px;
  position: relative;
  min-height: 300px; }
  .content-box--shadow {
    box-shadow: 0px 0px 15px -5px #a8a8a8; }

ul {
  box-shadow: 0px 0px 15px -5px #a8a8a8;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  ul li {
    float: left;
    list-style-type: none; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.form-control {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0 0 .25rem; }

.form-group {
  margin-bottom: 2.5rem; }

label {
  font-size: .7rem;
  margin-bottom: 0;
  color: #a6b0b7; }

.btn {
  border-radius: 2px;
  font-weight: bold;
  font-size: .75rem; }

.btn-outlined {
  border: 1px solid #255DEA; }
