.profile-page {
  background-color: #F3F8F9;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto; }

.content-box {
  background-color: #FFF;
  padding: 20px 15px;
  margin-bottom: 20px;
  position: relative;
  min-height: 300px; }
  .content-box--shadow {
    box-shadow: 0px 0px 15px -5px #a8a8a8; }

ul {
  box-shadow: 0px 0px 15px -5px #a8a8a8;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  ul li {
    float: left;
    list-style-type: none; }
