@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import "login"
@import "profile"

html, body
  width: 100%
  height: 100%
  margin: 0
  font-family: 'Open Sans', sans-serif

.form-control
  border-left: 0
  border-top: 0
  border-right: 0
  padding: 0 0 .25rem

.form-group
  margin-bottom: 2.5rem

label
  font-size: .7rem
  margin-bottom: 0
  color: #a6b0b7

.btn
  border-radius: 2px
  font-weight: bold
  font-size: .75rem

.btn-outlined
  border: 1px solid #255DEA