.login-page
  background-image: url('../img/fullscreen_bg_image.jpg')
  background-size: 100% 100%
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  width: 100%

.login-modal
  background-color: #fff
  width: 370px
  padding: 30px

.login-heading
  font-size: 1.25rem

.login-terms
  font-size: .75rem
  color: #a8b8c4

.login-btn
  background-color: #1E64E7
  width: 100%
  border-radius: 2px